
  <div class="slider-frame">
    <ul>
      <li><img src="icons/servicios1.jpg" alt=""></li>
      <li><img src="icons/img3.jpg" alt=""></li>
      <li><img src="icons/img4.jpg" alt=""></li>
      <li><img src="icons/img5.jpg" alt=""></li>
    </ul>
  </div>

<!-- Sección de Descripción -->

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title text-center">Soluciones Energéticas Innovadoras</h5>
    <div class="container">
      <img src="icons/equipo.jpg" alt="Logo de I&M Electric" style="display: block; margin: auto; width: 50%;">
    </div>
    <p class="card-text">Somos una empresa colombiana dedicada a brindar soluciones inteligentes y
      tecnológicas acorde a sus necesidades, utilizamos herramientas, equipos y materiales
      totalmente certificados y de la mejor calidad para garantizar un excelente servicio,
      personal altamente calificado, en constante capacitación y con la experiencia requerida
      para asegurar el mejor servicio prestado.</p>
      <button><a routerLink="/servicios" class="btn-bd-primary text-right">Conoce nuestros servicios</a></button>
  </div>
</div>



