
  <div class="slider-frame">
    <ul>
      <li><img src="icons/servicios1.jpg" alt=""></li>
      <li><img src="icons/img3.jpg" alt=""></li>
      <li><img src="icons/img4.jpg" alt=""></li>
      <li><img src="icons/img5.jpg" alt=""></li>
    </ul>
  </div>


<section>
  <div class="card">
    <h1 class="text1">Soluciones energeticas Innovadoras</h1>
    <img src="icons/equipo.jpg" alt="Equipo">
    
    <p class="paragraph">Somos una empresa colombiana dedicada a brindar soluciones inteligentes y
      tecnológicas acorde a sus necesidades, utilizamos herramientas, equipos y materiales
      totalmente certificados y de la mejor calidad para garantizar un excelente servicio,
      personal altamente calificado, en constante capacitación y con la experiencia requerida
      para asegurar el mejor servicio prestado</p>
      <button class="btn"><a routerLink="/servicios">Conoce nuestros servicios</a></button>
  </div>
</section>





