  
  <header class="header">

    <div class="logo">
      <img src="icons/logo-i&m.jpg" alt="Logo de la compañia">
      <h2 class="clas">I&M Electric
        
      </h2>
      <h3>Ingeniería y mantenimiento</h3>

    </div>
   
    <nav class="navbar">
      <a href="#" routerLink="/">Home</a>
      <a href="#" routerLink="/servicios">Servicios</a>
      <a href="#" routerLink="/sobre-nostros">Sobre nosotros</a>
    </nav>
  </header>


<div class="content-wrapper">
  <!-- Tu contenido principal de la página aquí -->
  <router-outlet></router-outlet> <!-- Aquí va tu contenido principal -->
</div>

