@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
a{
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}
.header{
  min-height: 100px;
  padding: 5px;
  background-color: #2f3190;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  display: flex;
  align-items: center;
}

.logo h2{
  position: absolute;
  top: 5px;
  left: 115px;
  font-size: 2.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  
}
.logo h3{
  position: absolute;
  top: 38px;
  left: 115px;
  font-size: 2.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}
.logo img{
  width: 15%;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: #fff 0 1px 5px, #75759a 0 1px 2px;
}
.navbar a{

  padding-right: 60px;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffde59;
  font-weight: bold; /* Hace el texto negrita */


}
nav a:hover{
  color: #75759a;
}
.icons{
  position: absolute;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  right: 5%;
}

.footer{
  width: 100%;
  background-color: #353470;

}

.footer .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.footer .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .grupo-1 .box figure img{
  width: 180px;
  border-radius: 5px;
  box-shadow: #fff 0 1px 10px, #75759a 0 1px 2px;
}

.footer .grupo-1 .box  h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: justify;
}

.footer .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

svg{
  display: inline-flex;
  text-decoration: none;
  width: 80px;
  line-height: 50px;
  height: 30px;
  color: #fff;
  position: center;
  transition: all 300ms ease;
}

svg:hover{
  color: #000;
}

.footer .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  color: #fff;
}

footer .grupo-2 small{
  font-size: 15px;
}

@media (max-width: 990px){


  .header{
    flex-direction: column;
    margin-bottom: 20px; /* Ajusta este valor según el espacio que necesites */
  }

  .logo img{
    width: 25%;
  }

  .navbar a{
    font-size: 73%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .logo h2,.logo h3{
    font-size:120% ;
    position: absolute;
  }


  .footer .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }

  .footer .grupo-1 .box figure img{
  width: 150px;
  border-radius: 5px;
  box-shadow: #fff 0 1px 10px, #75759a 0 1px 2px;
}


}



 
  
  
  